
/*Eliminamos el boton de cancelar que viene por default en el formulario*/

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

/*Colocamos al navegador fondo blanco*/

.nav {
  background: #fff;
}

/*Elegimos las propiedaes para nuestro header(Muy importante que este fijo)*/

header{
    background: #fff;
    height: 110px;
    width: 100%; /* hacemos que  ocupe el ancho total de la página */
    left: 0;
    top: 0;
    position: fixed;
    padding-bottom: 0px;
}

/*Elegimos propiedades para el formulario*/

form{
  /*outline: 1px solid blue;*/
  -webkit-width: 80%; /* le coloque el webkit para que se adapte a la pantalla(solo deberia funcionar con chrome)*/
  background: #d7dfe0;
  margin: 3px;
  border-radius: 5px;
  height: 40px;
  padding-right: 20px;
  padding-top: 0px;
}



fieldset{
 display: inline-block;
 border: 1px;
 padding-left: 0px;
 padding-right: 0px;
 padding-top: 0px;
 padding-bottom: 0px;
 /*width: 40px;*/
}

/*En este ejercicio intente hacer un efecto con el boton que le agregue al formulario*/

input, button{
  position: relative;
  width: 700px;
  height: 40px;
  padding: 0px;
}

/*Le coloque un z index al input para que cubra al boton*/

input{
  border: none;
  color: #4f5354;
  font-size: 20px;
  z-index: 2;
  background: #d7dfe0;
}



button{
  width: 50px;
  /*width: 50px;*/
  border: none; /*Le quito propiedad que tiene por default*/
  font-size: 16px;;
  transform: translate(-95%,0); /*Elijo la distacia que el boton debe recorrer*/
  transition-duration: .3s;/*Elijo el tiempo*/
}

/*Le quito propiedad que tiene por default*/
button:focus{
  outline: none;
}

/*Boton con el que intente hacer el efecto*/

.icon-zoom{
  font-size: 20px;
  color: #464949;
  -webkit-transform: translate(-100%,0);/*Inicialmene no le habia colocado el webkit, pero se deformaba en monitores mas pequeños, asi que probe coloandolo*/
  transition: all   .1s ease-in-out;/*le coloco el efecto easy-in-out*/
}

/*Le quito al input propiedad por default*/

input:focus{
  outline: none;
}

/*Seguimos con el efecto*/

input:focus + button{
  transform: translate(0,0);
  transition-duration: .3s;
}
/*          |
            |
    Estos dos trozos de codigo hacen un pequeño
     juego entre el boton y el icono que lo acompaña
     para que asi uno llegue despues que el otro.
           |
           |*/

input:focus + button .icon-search{
  color: #c41111;
  transform: translate(0,0);
  transition-duration: .3s;
}

/*El siguiente codigo son caracteristicas generales de posicion, ancho, alto y organizacion*/


/*.pinterestlogo{
  width: 60px;
  height: 60px;
}*/
ul:first-child{
  margin-left: 0;
}
.firstlist{
  /*outline: 1px solid blue;*/
  list-style: none;
  text-align: center;
}
li{
  /*outline: 1px solid black;*/
  display: inline-block;
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: 10px;
}
.icon-user{
  font-size: 25px;
  color: #c5cbd6;
}
.icon-menu{
  font-size: 25px;
  color: #c5cbd6;
}
.icon-commenting{
  font-size: 28px;
  color: #c5cbd6;
}
.menu1{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 60px;
}
a{
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}
.color1{
  background: #664a31;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0px;
}
.color2{
  background: #96806c;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0;
}
.color3{
  background-image: url("../assets/imagen/brown.png");
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0;
}
.color4{
  background: #966b45;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0;
}
.color5{
  background: #968945;
  width: 110px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0;
}
.color6{
  background: #7c723e;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0px;
}
.color7{
  background-image: url("../assets/imagen/marmol.jpg");
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0px;
}
.color8{
  background: #a37628;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0px;
}
.color9{
  background: #bc9a80;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0px;
}
.icon-brand{
  font-size: 40px;
  position: relative;
}
#menu2:hover{
  opacity: 0.3;
  box-shadow: 2px 3px 3px #a5a09b;
}
#menu2 a:active{
  color:red;
}
.icon-user:hover{
  color: grey;
}
.icon-commenting:hover{
  color: grey;
}
.icon-menu:hover{
  color: grey;
}

h4{
  color:#000;
}

a p{
  color: #000;
}

a h2{
  color:#000;
}

main{
  width: 98%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 15%;
  padding-left: 4%;
}
#post{
  width: 21%;
  height: auto;
  display: inline-block;
  border-radius: 5%;
  /*background: red;*/
  margin: 19px;
}
img{
  width: 100%;
  height: auto;
  border-radius: 5%;
}
figure {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: 40px;
}
#post{
  box-shadow: 5px 5px 5px 5px #f7f4f2;
}
h4:hover{
  color: red;
}

/*Le coloco la forma redondeada al div del articulo*/

.circle {
  width: 30px;
  height: 30px;
  background-color: #D45858;
  border-radius: 50%;
  text-align: center;
  float: left;
  color: #fff;
  font-family: monospace; /*Elegimos la fuente*/
  font-size: 20px;
  line-height: 30px;
  margin-right: 5px;
}

span {
  color: #000;
}

.icon-check, .icon-pin {
  color: #C1C0BC;
  float: right;
  font-size: 10px;
  margin: 4px 8px 8px 4px;
}

.icon-pin:hover {
  color: grey;
}

.icon-close{
  font-size: 14px;
  margin-left: 4px;
}

.icon-chevron-down{
  font-size: 20px;
  margin-left: 4px;
}
