input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

form{
  /*outline: 1px solid blue;*/
  width: 1100px;
  background: #d7dfe0;
  margin: 0 solid;
  border-radius: 5px;
  height: 40px;
}

fieldset{
 display: inline-block;
 border: 1px;
 padding-left: 0px;
 padding-right: 0px;
 padding-top: 0px;
 padding-bottom: 0px;
 /*width: 40px;*/
}

input, button{
  position: relative;
  float: left;
  width: 700px;
  height: 40px;
  padding: 0px;
}

input{
  border: none;
  color: #4f5354;
  font-size: 20px;
  z-index: 2;
  background: #d7dfe0;
}

button{
  width: 50px;
  /*width: 50px;*/
  border: none;
  font-size: 16px;;
  transform: translate(-750px,0);
  transition-duration: .3s;
}

button:focus{
  outline: none;
}

.icon-search{
  font-size: 20px;
  color: #464949;
  transform: translate(-190px,0);
  transition: all   .1s ease-in-out;
}

input:focus{
  outline: none;
}

input:focus + button{
  transform: translate(0,0);
  transition-duration: .3s;
}

input:focus + button .icon-search{
  color: #c41111;
  transform: translate(0,0);
  transition-duration: .3s;
}

/*.pinterestlogo{
  width: 60px;
  height: 60px;
}*/

ul:first-child{
  margin-left: 0;
}

.firstlist{
  /*outline: 1px solid blue;*/
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
}

li{
  /*outline: 1px solid black;*/
  display: inline-block;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}

.icon-user{
  font-size: 50px;
  color: #c5cbd6;
}

.icon-menu{
  font-size: 50px;
  color: #c5cbd6;
}

.icon-message-circle{
  font-size: 50px;
  color: #c5cbd6;
}

.menu1{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

a{
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

.color1{
  background: #664a31;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  margin-top: 30px;
}

.color2{
  background: #96806c;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.color3{
  background-image: url("../assets/imagen/brown.png");
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.color4{
  background: #966b45;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.color5{
  background: #968945;
  width: 110px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.color6{
  background: #7c723e;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.color7{
  background-image: url("../assets/imagen/marmol.jpg");
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.color8{
  background: #a37628;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.color9{
  background: #bc9a80;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.pinterestlogo:hover{
  opacity: 0.4;
}

#menu2:hover{
  opacity: 0.3;
}
