body{
  background: #E8E2E2;
}
.scrollbar {
    background-color: #E8E2E2;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}

.content{
  background:
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #E8E2E2;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #E8E2E2;
}

.content{
  background: #fff;
  width: 750px;
  height: auto;
  border-radius: 10px;
  margin: 20px 350px 20px 350px;
  padding: 40px;
}

span{
  font-size: 25px;
  color:#B3ABAB;
  margin-right: 20px;
}

.icon-checkmark:active{
  color: red;
}

.icon-cross{
  color: #B3ABAB;
  font-size: 25px;
  margin-right: 15px;
  margin-top: 15px;
  display: block;
  float: right;
}

button{
  background-image: url("../../assets/imagen/save.png");
  height: 50px;
  width: 100px;
  border: none;
  float: right;
}

span:hover{
  color:grey;
}

h1{
  margin-bottom: 0px;
  margin-top: 70px;
  margin-left: 110px;
  font-family: sans-serif;
}

img{
  border-radius: 10px;
  margin-top: 0px;
  margin-left: 110px;
  margin-top: 30px;
}
